.container *{
     /* outline: 1px solid red; */
}

body{
    margin: 0;
}

.container{
    background: red;
    height: 100vh;
    color: white;
    font-size: 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
}

header, footer{
    background: #84a98c;
    flex-grow: 1;
}

nav, aside {
    background: #52796f;
    flex-grow: 2;
}

main {
    background: #2f3e46;
    /* flex-grow:15 ; */
    min-height: 65vh; 
}

nav ul li {
    list-style: none;
}

header ul li {
    list-style: none;
}

@media (min-width: 600px) {
   /* * {
        display: none;
    } */

    .container{
        flex-direction: row;
        flex-wrap: wrap;
    }

    header, footer {
        width: 100%;
    }
    
    main{
        width: 65%;
        /* width: 65vw; */
    }

    aside {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5em;
    }

    header div {
        display: flex;
        flex-grow: 1;
    }

    header div:nth-child(2) {
        justify-content: flex-end;
    }

    header div ul {
        display: flex;
    }

    header div ul li {
        list-style: none;
        margin-left: 2em;
    }

    nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav ul {
        padding-left: 0;
    }

    nav ul li {
        list-style: none;
        margin-top: 1em;
    }

}